html,body {
  margin:0;
  padding:0;
  height:100%;
}

#wrapper {
	min-height:100%;
	position:relative;
  background-color: #004600;
}

.page_container {
  /* min-width: 950px; */
  max-width: 90%;
  margin:auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom:100px;
}

.colapse_section {
  /*border-left: 3px solid red;*/
  border-bottom: 1px solid #5c5;
  background-color: #8a8;
  padding-left: 10px;
  line-height: : 10px;
}

.colapse_section>h3 {
  margin-bottom: 0px;
}

.pointer_cursor {
  cursor: pointer;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
  padding-bottom: 10px;
  background-color: #004600;
}
.dropdown-menu > li > a {
  /*line-height: 16px;*/
  font-size: 16px;
  margin-top:10px;
  padding-top:0px;
  color: #c9ebcd;
}
.navbar-default .navbar-nav>li>a {
  font-size: 24px;
  color: #c9ebcd;
}



.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
}

.navbar {
	background-color: #004600;
	color: #ffcc00;
	border-radius: 0px;
	border-width: 1px;
	border-color: #c9ebcd;
	margin-bottom: 0px;
}

.navbar-default .navbar-brand {
    color: #c9ebcd;
		font-size: 24px;
		font-weight: bold;
}
.navbar-default .navbar-brand:hover {
    color: #ffff00;
}
/*th,td,h3,label, .yellow_col {*/
.yellow_col {
	color: #ffcc00;
}

.data_table_frame {
  background-color: #fff;
  padding:10px;
  overflow-x: scroll;
  margin-bottom: 20px;
}

a {
	color: #6ae;
}

a:hover {
	color: #36b;
}

#ppatens_search_form{
  height:120px
}

.pp_list {
  padding-top:45px;
  padding-left:45px;
}

.pp_list>li {
  padding-left:10px;
  padding-bottom:20px;
  font-size:18px;
}

.info_icon {
	background-color:#4387FD;
	border-radius:20px;
	vertical-align: top;
	border:0px;
	display:inline-block;
	color:#ffffff;
	font-family:"Georgia",Georgia,Serif;
	font-size:12px;
	font-weight:bold;
	font-style:normal;
	width:18px;
	height:18px;
	line-height:18px;
	text-align:center;
/*  padding-bottom:2px;*/
}
.info_icon:hover {
	background-color:#5EA1FF;
	color:#0000CC;
}

.info_icon:active {
	position:relative;
	top:1px;
}

.plant {
  color: #C7FF97;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
.plantco {
  color: #C8FFC8;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
.plantco-dot {
  color: #378436;
  /*font-family: "Courier New", Courier, monospace;*/
  font-weight: bold;
}
